
{% block content %}
{% load static %}

{% include 'header.html' %}
{% if msg %}
<script>
    alert('{{msg}}');
</script>
{% endif %}
  <!-- slider section -->
  <section class=" slider_section">
    <div id="carouselExampleIndicators" class="carousel slide vert" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="slider_box">
            <div class="fixed_company-detail">
              <p>
               Crowd Monitoring
              </p>
            </div>
            <div class="slider-detail">
              <div class="slider_detail-heading">
                <h2>
                  Secure Sphere
                </h2>
                <h1>
                Crowd Monitoring and Tracking System
                </h1>
              </div>
              <div class="slider_detail-text">
             
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider_box">
            <div class="fixed_company-detail">
              <p>
                Crowd Monitoring
              </p>
            </div>
            <div class="slider-detail">
              <div class="slider_detail-heading">
                <h2>
                  Secure Sphere
                </h2>
                <h1>
                  Crowd Monitoring and Tracking System
                </h1>
              </div>
              <div class="slider_detail-text">
               
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider_box">
            <div class="fixed_company-detail">
              <p>
                Crowd Monitoring
              </p>
            </div>
            <div class="slider-detail">
              <div class="slider_detail-heading">
                <h2>
                  Secure Sphere
                </h2>
                <h1>
                  Crowd Monitoring and Tracking System
                </h1>
              </div>
              <div class="slider_detail-text">
                
              </div>
              <div class="slider_detail-btn">
                <a href="">
                
                  <img src="{% static 'images/arrow.png' %}" alt="" class="ml-2" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <!-- end slider section -->

 

  <!-- end info section -->
  {% include 'footer.html' %}

  {% endblock %}

